In [1]:
import pandas as pd

In [3]:
meta1=pd.read_csv("GSE6791/GSE6791_metadata.csv")

In [4]:
meta1.head()

  Unnamed: 0 geo_accession age:ch1         Case:ch1 gender:ch1 Tumor Stage:ch1
0  GSM155645     GSM155645      35  Cervical cancer     Female              II
1  GSM155646     GSM155646      27  Cervical cancer     Female             IB2
2  GSM155647     GSM155647      40  Cervical cancer     Female              IB
3  GSM155648     GSM155648      42  Cervical cancer     Female              IB
4  GSM155649     GSM155649      44  Cervical cancer     Female          II/III

In [116]:
meta2=pd.read_csv("GSE9750/GSE9750_metadata.csv")
meta2.head()

,Unnamed: 0,title,geo_accession,source_name_ch1
0,GSM246087,"Cervical cancer cell line, C4-I",GSM246087,"Cervical cancer cell line, C4-I"
1,GSM246088,"Cervical cancer cell line, CaSki",GSM246088,"Cervical cancer cell line, CaSki"
2,GSM246089,"Cervical cancer cell line, C-33A",GSM246089,"Cervical cancer cell line, C-33A"
3,GSM246090,"Cervical cancer cell line, HT-3",GSM246090,"Cervical cancer cell line, HT-3"
4,GSM246119,"Cervical cancer cell line, SiHa",GSM246119,"Cervical cancer cell line, SiHa"

In [11]:
l1=list(meta1.columns)
l1[0]="ID"
l1[2]="Age"
l1[3]="Cancer"
l1[4]="Gender"
l1[5]="Stage"
l1

['ID', 'geo_accession', 'Age', 'Cancer', 'Gender', 'Stage']

In [12]:
meta1.columns=l1

In [14]:
meta1.drop("geo_accession",axis=1,inplace=True)

In [33]:
meta1=meta1.set_index("ID")

In [ ]:
df=pd.read_csv("GSE6791/GSE6791_Modified.csv",index_col="GENE SYMBOL")
df.head()

In [25]:
df.head()

,ID,GSM155645,GSM155646,GSM155647,GSM155648,GSM155649,GSM155650,GSM155651,GSM155652,GSM155653,...,GSM155663,GSM155664,GSM155665,GSM155666,GSM155667,GSM155668,GSM155669,GSM155670,GSM155671,GSM155672
GENE SYMBOL,,,,,,,,,,,,,,,,,,,,,
DDR1 /// MIR4640,1007_s_at,10.926493,11.050830,11.535001,11.780722,11.731943,11.456500,11.798875,12.072699,11.983531,...,10.842502,11.703827,11.929283,11.843123,11.750561,11.405941,11.681922,11.659033,12.014906,12.002534
RFC2,1053_at,6.792618,6.309582,6.436999,6.656980,7.612923,6.767396,6.656845,6.901212,6.697030,...,5.801500,6.451522,5.973124,5.964971,6.350857,6.102915,6.089576,6.414799,7.002314,6.367698
PAX8,121_at,9.802401,8.542969,9.361304,9.321631,8.981502,11.291192,9.225758,9.236232,9.106564,...,9.302840,9.395408,10.395279,9.985852,10.193800,10.287588,9.939969,9.906558,9.437101,9.848816
MIR5193 /// UBA7,1294_at,8.523952,10.032222,7.389303,8.847466,9.542878,10.248249,8.292253,8.111228,8.301731,...,8.503283,8.825335,8.345535,8.839546,8.446504,8.437452,9.012642,8.687103,9.527964,9.102543
THRA,1316_at,6.606872,5.733024,6.119088,5.786545,5.872103,5.602412,6.259849,5.909509,6.114265,...,6.057129,6.156830,6.665053,6.505567,6.507141,6.819353,7.100382,7.168717,6.010884,6.495462

In [26]:
df.drop("ID",axis=1,inplace=True)

In [28]:
df=df.T

In [30]:
df.to_csv("1.csv")

In [34]:
meta1

          Age                Cancer  Gender   Stage
ID
GSM155645  35       Cervical cancer  Female      II
GSM155646  27       Cervical cancer  Female     IB2
GSM155647  40       Cervical cancer  Female      IB
GSM155648  42       Cervical cancer  Female      IB
GSM155649  44       Cervical cancer  Female  II/III
...        ..                   ...     ...     ...
GSM155724  63  Head and neck normal  Female     NaN
GSM155725  88  Head and neck normal  Female     NaN
GSM155726  54  Head and neck normal  Female     NaN
GSM155727  84  Head and neck normal    Male     NaN
GSM155728  81  Head and neck normal  Female     NaN

[84 rows x 4 columns]

In [35]:
df_joined=pd.merge(df,meta1,left_index=True,right_index=True)

In [37]:
df_joined.drop("Gender",axis=1,inplace=True)

In [39]:
df_joined.head()

,DDR1 /// MIR4640,RFC2,PAX8,MIR5193 /// UBA7,THRA,CCL5,ESRRA,CYP2A6,SCARB1,TTLL12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Age,Cancer,Stage
GSM155645,10.926493,6.792618,9.802401,8.523952,6.606872,5.873463,8.409791,7.884830,7.051175,10.393003,...,10.723801,12.220773,12.006120,13.518667,13.163059,14.096153,13.994663,35,Cervical cancer,II
GSM155646,11.050830,6.309582,8.542969,10.032222,5.733024,8.044375,7.916889,6.938120,7.959524,9.326298,...,8.813770,10.376510,10.373284,12.146707,11.865543,13.679153,13.579994,27,Cervical cancer,IB2
GSM155647,11.535001,6.436999,9.361304,7.389303,6.119088,4.955036,8.197857,7.480601,7.195210,10.087347,...,7.274024,8.467331,8.276942,11.321140,10.881656,12.860447,12.621815,40,Cervical cancer,IB
GSM155648,11.780722,6.656980,9.321631,8.847466,5.786545,6.506034,8.112573,7.369072,7.179351,9.900105,...,8.147287,9.900017,9.841746,12.005474,11.644203,13.415128,13.249207,42,Cervical cancer,IB
GSM155649,11.731943,7.612923,8.981502,9.542878,5.872103,8.522783,8.654920,7.395999,7.202994,10.698199,...,8.617989,10.265613,10.067670,12.149950,11.818594,13.550891,13.371064,44,Cervical cancer,II/III

In [ ]:
#1 represents the cancer and 0 represents the normal one
df_joined["Cancer"]=df_joined["Cancer"].map({
    "Cervical cancer":1,
    "Cervical normal":0
})

In [43]:
df_joined["Cancer"].value_counts()

Cancer
1    20
0     8
Name: count, dtype: int64

In [46]:
df_joined.head()

,DDR1 /// MIR4640,RFC2,PAX8,MIR5193 /// UBA7,THRA,CCL5,ESRRA,CYP2A6,SCARB1,TTLL12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Age,Cancer,Stage
GSM155645,10.926493,6.792618,9.802401,8.523952,6.606872,5.873463,8.409791,7.884830,7.051175,10.393003,...,10.723801,12.220773,12.006120,13.518667,13.163059,14.096153,13.994663,35,1,II
GSM155646,11.050830,6.309582,8.542969,10.032222,5.733024,8.044375,7.916889,6.938120,7.959524,9.326298,...,8.813770,10.376510,10.373284,12.146707,11.865543,13.679153,13.579994,27,1,IB2
GSM155647,11.535001,6.436999,9.361304,7.389303,6.119088,4.955036,8.197857,7.480601,7.195210,10.087347,...,7.274024,8.467331,8.276942,11.321140,10.881656,12.860447,12.621815,40,1,IB
GSM155648,11.780722,6.656980,9.321631,8.847466,5.786545,6.506034,8.112573,7.369072,7.179351,9.900105,...,8.147287,9.900017,9.841746,12.005474,11.644203,13.415128,13.249207,42,1,IB
GSM155649,11.731943,7.612923,8.981502,9.542878,5.872103,8.522783,8.654920,7.395999,7.202994,10.698199,...,8.617989,10.265613,10.067670,12.149950,11.818594,13.550891,13.371064,44,1,II/III

In [58]:
l2=list(df_joined.columns)

In [67]:
df_id=pd.read_csv("GSE6791/GSE6791_Modified.csv",index_col="ID")

In [69]:
df_id.drop("Unnamed: 0",axis=1,inplace=True)

In [71]:
df_id.drop("GENE SYMBOL",axis=1,inplace=True)

In [72]:
df_id

,GSM155645,GSM155646,GSM155647,GSM155648,GSM155649,GSM155650,GSM155651,GSM155652,GSM155653,GSM155654,...,GSM155663,GSM155664,GSM155665,GSM155666,GSM155667,GSM155668,GSM155669,GSM155670,GSM155671,GSM155672
ID,,,,,,,,,,,,,,,,,,,,,
1007_s_at,10.926493,11.050830,11.535001,11.780722,11.731943,11.456500,11.798875,12.072699,11.983531,11.280621,...,10.842502,11.703827,11.929283,11.843123,11.750561,11.405941,11.681922,11.659033,12.014906,12.002534
1053_at,6.792618,6.309582,6.436999,6.656980,7.612923,6.767396,6.656845,6.901212,6.697030,7.597133,...,5.801500,6.451522,5.973124,5.964971,6.350857,6.102915,6.089576,6.414799,7.002314,6.367698
121_at,9.802401,8.542969,9.361304,9.321631,8.981502,11.291192,9.225758,9.236232,9.106564,10.387008,...,9.302840,9.395408,10.395279,9.985852,10.193800,10.287588,9.939969,9.906558,9.437101,9.848816
1294_at,8.523952,10.032222,7.389303,8.847466,9.542878,10.248249,8.292253,8.111228,8.301731,9.022507,...,8.503283,8.825335,8.345535,8.839546,8.446504,8.437452,9.012642,8.687103,9.527964,9.102543
1316_at,6.606872,5.733024,6.119088,5.786545,5.872103,5.602412,6.259849,5.909509,6.114265,5.608365,...,6.057129,6.156830,6.665053,6.505567,6.507141,6.819353,7.100382,7.168717,6.010884,6.495462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AFFX-r2-Ec-bioC-5_at,12.006120,10.373284,8.276942,9.841746,10.067670,10.198753,8.115062,7.717559,7.490809,9.547527,...,8.129658,8.414422,10.946103,12.191172,11.173948,10.779928,11.639908,11.541002,10.232206,10.867925
AFFX-r2-Ec-bioD-3_at,13.518667,12.146707,11.321140,12.005474,12.149950,12.082371,11.409796,10.890203,10.928033,11.508053,...,10.232267,11.520362,13.123506,13.610246,13.278245,12.927638,13.416212,13.223952,12.837709,12.773412
AFFX-r2-Ec-bioD-5_at,13.163059,11.865543,10.881656,11.644203,11.818594,11.760958,11.028025,10.529346,10.513770,11.172493,...,10.453267,10.986430,12.650281,13.357242,12.806146,12.530822,13.095002,12.871057,12.487729,12.507426
AFFX-r2-P1-cre-3_at,14.096153,13.679153,12.860447,13.415128,13.550891,13.519965,12.880638,12.376822,12.472337,13.073244,...,11.923106,12.882845,13.952205,14.234086,14.069813,13.871585,14.118459,14.000373,13.630307,13.732339
AFFX-r2-P1-cre-5_at,13.994663,13.579994,12.621815,13.249207,13.371064,13.419314,12.663898,12.390787,12.199817,12.919775,...,11.770325,12.508105,13.853287,14.120996,13.969499,13.837663,14.037473,13.894878,13.469873,13.629697

In [73]:
df_id=df_id.T

In [78]:
df_id_joined=pd.merge(df_id,meta1,left_index=True,right_index=True)

In [81]:
df_id_joined["Cancer"]=df_id_joined["Cancer"].map({
    "Cervical cancer":1,
    "Cervical normal":0
})

In [83]:
df_id_joined.drop("Gender",axis=1,inplace=True)

In [84]:
df_id_joined.head()

,1007_s_at,1053_at,121_at,1294_at,1316_at,1405_i_at,1487_at,1494_f_at,1552256_a_at,1552257_a_at,...,AFFX-r2-Ec-bioB-M_at,AFFX-r2-Ec-bioC-3_at,AFFX-r2-Ec-bioC-5_at,AFFX-r2-Ec-bioD-3_at,AFFX-r2-Ec-bioD-5_at,AFFX-r2-P1-cre-3_at,AFFX-r2-P1-cre-5_at,Age,Cancer,Stage
GSM155645,10.926493,6.792618,9.802401,8.523952,6.606872,5.873463,8.409791,7.884830,7.051175,10.393003,...,10.723801,12.220773,12.006120,13.518667,13.163059,14.096153,13.994663,35,1,II
GSM155646,11.050830,6.309582,8.542969,10.032222,5.733024,8.044375,7.916889,6.938120,7.959524,9.326298,...,8.813770,10.376510,10.373284,12.146707,11.865543,13.679153,13.579994,27,1,IB2
GSM155647,11.535001,6.436999,9.361304,7.389303,6.119088,4.955036,8.197857,7.480601,7.195210,10.087347,...,7.274024,8.467331,8.276942,11.321140,10.881656,12.860447,12.621815,40,1,IB
GSM155648,11.780722,6.656980,9.321631,8.847466,5.786545,6.506034,8.112573,7.369072,7.179351,9.900105,...,8.147287,9.900017,9.841746,12.005474,11.644203,13.415128,13.249207,42,1,IB
GSM155649,11.731943,7.612923,8.981502,9.542878,5.872103,8.522783,8.654920,7.395999,7.202994,10.698199,...,8.617989,10.265613,10.067670,12.149950,11.818594,13.550891,13.371064,44,1,II/III

In [85]:
df_id_joined.to_csv("GSE6791_modified_with_metadata.csv")

In [117]:
meta2.drop("geo_accession",axis=1,inplace=True)

In [118]:
meta2.columns=["ID","INFO","Cancer"]

In [119]:
meta2.drop("INFO",axis=1,inplace=True)

In [120]:
meta2.set_index('ID')

                                     Cancer
ID
GSM246087   Cervical cancer cell line, C4-I
GSM246088  Cervical cancer cell line, CaSki
GSM246089  Cervical cancer cell line, C-33A
GSM246090   Cervical cancer cell line, HT-3
GSM246119   Cervical cancer cell line, SiHa
...                                     ...
GSM247883            Cervical cancer_CaCx54
GSM247884            Cervical cancer_CaCx60
GSM247885            Cervical cancer_CaCx70
GSM247886            Cervical cancer_CaCx81
GSM247887            Cervical cancer_CaCx83

[66 rows x 1 columns]

In [121]:
meta2["Cancer"] = meta2["Cancer"].apply(lambda x: 1 if "cancer" in x else 0)

In [122]:
meta2["Cancer"]

0     1
1     1
2     1
3     1
4     1
     ..
61    1
62    1
63    1
64    1
65    1
Name: Cancer, Length: 66, dtype: int64

In [150]:
meta2=meta2.set_index("ID")

In [134]:
df_2=pd.read_csv("GSE9750/GSE9750_Modified.csv",index_col="ID")

In [135]:
df_2.drop("Unnamed: 0",axis=1,inplace=True)

In [136]:
df_2.drop("GENE SYMBOL",axis=1,inplace=True)

In [137]:
df_2.head()

,GSM246422,GSM246423,GSM246484,GSM246485,GSM246486,GSM246487,GSM246488,GSM246489,GSM246490,GSM246491,...,GSM247877,GSM247878,GSM247879,GSM247881,GSM247882,GSM247883,GSM247884,GSM247885,GSM247886,GSM247887
ID,,,,,,,,,,,,,,,,,,,,,
1007_s_at,8.881561,9.100208,9.231858,10.848051,9.468050,9.395177,9.986873,9.935525,9.491053,9.908865,...,9.116580,8.926383,9.981333,9.878416,9.532002,9.943170,10.768142,9.357069,10.120527,10.189827
1053_at,5.547155,5.642086,5.425129,6.258763,6.074176,6.776772,6.156177,6.232879,6.188479,6.277981,...,5.912201,5.839513,6.544678,6.610673,6.295308,6.384105,6.545715,6.261023,6.189999,6.330486
121_at,8.337220,8.363959,8.555399,8.041131,8.394578,8.019541,8.245139,8.339634,8.579346,8.600728,...,9.164640,7.934658,8.436934,8.081754,9.195166,8.298933,8.370111,9.385103,8.462697,8.936397
1294_at,7.611945,7.771130,7.700596,8.084805,7.451440,7.582238,7.459356,7.296470,7.183712,7.575607,...,7.783962,7.255751,7.350516,7.352875,8.433288,7.609569,7.663631,8.627553,8.094400,7.863921
1316_at,4.968523,5.141198,5.220666,5.285625,5.283509,4.914448,5.119933,5.218065,5.530507,5.456108,...,5.255301,5.410355,5.538235,4.993886,5.276878,5.292965,5.070246,5.216831,5.369004,5.280318

In [138]:
df_2=df_2.T

In [140]:
df_2.head()

ID,1007_s_at,1053_at,121_at,1294_at,1316_at,1405_i_at,1438_at,1487_at,1494_f_at,1598_g_at,...,AFFX-r2-Ec-bioB-3_at,AFFX-r2-Ec-bioB-5_at,AFFX-r2-Ec-bioB-M_at,AFFX-r2-Ec-bioC-3_at,AFFX-r2-Ec-bioC-5_at,AFFX-r2-Ec-bioD-3_at,AFFX-r2-Ec-bioD-5_at,AFFX-r2-Hs28SrRNA-3_at,AFFX-r2-P1-cre-3_at,AFFX-r2-P1-cre-5_at
GSM246422,8.881561,5.547155,8.337220,7.611945,4.968523,5.268977,7.403100,7.041458,6.246199,11.259800,...,7.747670,7.461339,8.077131,9.427703,9.274907,11.445252,11.401579,6.835423,12.975656,12.893002
GSM246423,9.100208,5.642086,8.363959,7.771130,5.141198,4.956992,7.952545,7.069307,6.127333,10.733498,...,7.193598,6.804517,7.478846,8.841417,8.620084,11.133301,10.982313,5.459425,12.866959,12.664956
GSM246484,9.231858,5.425129,8.555399,7.700596,5.220666,5.089362,7.839180,7.066703,6.452012,10.700817,...,7.054304,6.831569,7.148382,8.633555,8.437527,10.985757,10.743435,5.482084,12.560031,12.418150
GSM246485,10.848051,6.258763,8.041131,8.084805,5.285625,5.665267,7.148712,7.693398,6.415160,9.497024,...,7.949917,7.651668,8.343849,9.464105,9.390517,11.603043,11.391118,6.108655,12.965293,12.872154
GSM246486,9.468050,6.074176,8.394578,7.451440,5.283509,6.172732,7.018930,7.112830,6.608625,10.037073,...,7.639977,7.594671,8.228533,9.512492,9.535522,11.450331,11.305697,5.207480,12.928608,13.025816

In [152]:
df_id_joined_1=pd.merge(df_2,meta2,left_index=True,right_index=True)

In [155]:
df_id_joined_1.head()

,1007_s_at,1053_at,121_at,1294_at,1316_at,1405_i_at,1438_at,1487_at,1494_f_at,1598_g_at,...,AFFX-r2-Ec-bioB-5_at,AFFX-r2-Ec-bioB-M_at,AFFX-r2-Ec-bioC-3_at,AFFX-r2-Ec-bioC-5_at,AFFX-r2-Ec-bioD-3_at,AFFX-r2-Ec-bioD-5_at,AFFX-r2-Hs28SrRNA-3_at,AFFX-r2-P1-cre-3_at,AFFX-r2-P1-cre-5_at,Cancer
GSM246422,8.881561,5.547155,8.337220,7.611945,4.968523,5.268977,7.403100,7.041458,6.246199,11.259800,...,7.461339,8.077131,9.427703,9.274907,11.445252,11.401579,6.835423,12.975656,12.893002,0
GSM246423,9.100208,5.642086,8.363959,7.771130,5.141198,4.956992,7.952545,7.069307,6.127333,10.733498,...,6.804517,7.478846,8.841417,8.620084,11.133301,10.982313,5.459425,12.866959,12.664956,0
GSM246484,9.231858,5.425129,8.555399,7.700596,5.220666,5.089362,7.839180,7.066703,6.452012,10.700817,...,6.831569,7.148382,8.633555,8.437527,10.985757,10.743435,5.482084,12.560031,12.418150,0
GSM246485,10.848051,6.258763,8.041131,8.084805,5.285625,5.665267,7.148712,7.693398,6.415160,9.497024,...,7.651668,8.343849,9.464105,9.390517,11.603043,11.391118,6.108655,12.965293,12.872154,0
GSM246486,9.468050,6.074176,8.394578,7.451440,5.283509,6.172732,7.018930,7.112830,6.608625,10.037073,...,7.594671,8.228533,9.512492,9.535522,11.450331,11.305697,5.207480,12.928608,13.025816,0

In [154]:
meta2.to_csv("Modified_Metadata_GSE9750.csv")

In [158]:
meta1.drop("Gender",axis=1,inplace=True)

In [161]:
meta1_1=pd.read_csv("Metadata_1.csv")

In [163]:
meta1_1["Cancer"]=meta1_1["Cancer"].apply(lambda x: 1 if "cancer" in x else 0)

In [165]:
meta1_1.head()

          ID  Age  Cancer   Stage
0  GSM155645   35       1      II
1  GSM155646   27       1     IB2
2  GSM155647   40       1      IB
3  GSM155648   42       1      IB
4  GSM155649   44       1  II/III

In [166]:
meta1_1=meta1_1.set_index("ID")

In [168]:
meta1_1.head()

           Age  Cancer   Stage
ID
GSM155645   35       1      II
GSM155646   27       1     IB2
GSM155647   40       1      IB
GSM155648   42       1      IB
GSM155649   44       1  II/III

In [170]:
meta1_1.to_csv("Metadata_2.csv",)